.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, minmax(30px, auto));
    max-width: 500px;
    max-height: 500px;
}
.box {
    border: solid 1px black;

}

.active {
    background-color: black;
}